<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ubi_Weather</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="./style/main.css">


</head>

<body>
	<div id="app">

		<header>
			<div class="card-header divCardHeader">
				<div class="logoImg"><img src="./image/descarga.png" alt="logo_weather"></div>

			</div>
			<div class="card">

			</div>
		</header>

		<div class="card divCard">

			<div class="searchBar">
				<input type="text" v-model="citSearch" placeholder="winter is comming..." class="bar"></div>
		</div>
		<div class=" card flip-card container gDiv" v-for="zity in filteredcard">
			<div class="flip-card-inner">
				<div class="flip-card-front divCardFront container card">

					<div class="divInsideFront">
						
						<p class="innerText">{{zity.name}}</p>
					</div>
					</div>
				<div class="flip-card-back container divCard2 card">
					
					<div class="divInside">
						<h6>City:</h6>
						<p>{{zity.name}}</p>
					</div>
					<div class="divInside">
						<h6>Today:</h6>
						<p>{{zity.weather[0].description}}</p>
					</div>
					<div class="divInside">
						<h6>Clouds:</h6>
						<p>{{zity.clouds.all}}</p>
					</div>
					<div class="divInside">
						<h6>Coord:</h6>
						<p>{{zity.coord.lat}}</p>
						<p>{{zity.coord.lon}} </p>
					</div>
					<div class="divInside">
						<h6>Humidity:</h6>
						<p>{{zity.main.humidity}}%</p>
					</div>

					<div class="divInside">
						<h6>Pressure:</h6>
						<p>{{zity.main.pressure}}</p>
					</div>
					<div class="divInside">
						<h6>Mostly:</h6>
						<p>{{zity.weather[0].main}}</p>
					</div>
					<div class="divInside">
						<h6>Temp:</h6>
						<p>{{zity.main.temp}}ºC</p>
					</div>
					<div class="divInside">
						<h6>Max:</h6>
						<p>{{zity.main.temp_max}}ºC</p>
						
					</div>
					<div class="divInside">
						<h6>Min:</h6>
						<p>{{zity.main.temp_min}}ºC</p>
					</div>

					
					<div class="divInside">
						<h6>Wind Speed:</h6>
						<p>{{zity.wind.speed}}</p>
					</div>
					<div class="divInside"><img :src="zity.weather[0].icon" class="imgIcon"> </div>
				</div>

			</div>
		</div>


		<div class="footer card"> <p> That's all folks!</p></div>
		





	</div>
	<!--vue-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--vue resourses-->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<!--	bootstrap-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

